header
{
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	background-color: #5C6165;
	align-items: center;

}

.header
{
	width: 30vw;
	height: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.header li
{
	font-family: Arial;
	
	font-size: 2em;
}

.header li a:link
{	
	color: white;
}

.header li a:visited
{	
	color: white;
} 

.header li a:hover
{	
	text-decoration: underline;
}

#imageLogo
{
	margin-top: 4em;
}
#Nom_du_site
{
	display: block;
	margin: 0 auto ;
	margin-top: 8em;

}

a:link 
{
	color: white;
}

a:visited
{
	color: white;
}

section
{
	margin: 0 auto;
	margin-top: 5em;
	width: 70vw;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section a
{
	height: 300px;
	margin-bottom: 2em;
}

article p 
{
	font-family: Arial;
	background-color: rgba(128,128,128,0.8);
	width: 150px;
	height: 300px;
	/*text-align: justify;*/
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
}

article div 
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.tiles
{
	border: 4px solid black;
	width: 400px;
	background-size: 400px 400px;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	display: block;
}

.impression3D
{
	background-image: url(images/article1_2.jpg);
}

.Undertale
{
	background-image: url(images/Undertale1.jpg);
}

