article 
{
	margin: 0 auto;
	height: auto;
	display: flex;
	justify-content: space-around;
	margin-left: 20em;
	margin-right: 20em;
}

.text
{
	width: 18em;
	height: auto;
	background-color: white;

}

.imageArticle
{
	width: 400px;
	height: 400px;
	max-width:  400px
	max-height: 537px;
	margin-left: 2em;
	margin-right: 2em;

}

p
{
    font-size: 28px;
	text-align: justify;
	
}

h1
{
	font-size: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #b63e3c;
}

.contact
{
	font-size: 40px;
	display: flex;

	justify-content: center;
	text-align:center;
	margin-top: 2em;
	margin-bottom: 2em;
	color: #41474c;
}

#titreDeLarticle
{
	margin-top: 3em;
	margin-bottom: 3em;
}

a:link 
{
	color: white;
}

a:visited
{
	color: white;
}

section
{
	margin: 0 auto;
	margin-top: 10em;
	width: 70vw;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section a
{
	height: 200px;
	margin-bottom: 2em;
}



.titre
{
	background-image: url(images/trait_rouge.png);
	background-repeat: no-repeat;
		
	width: 600px;
	height: 80px;
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
}

article div 
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.tiles
{
	width: 800px;
	background-size: 800px 300px;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	display: block;
}

.photo_impression3D
{
	background-image: url(images/img_liste_1.jpg);
}

.photo_undertales
{
	background-image: url(images/img_liste_2.jpg);
}

.numero
{
	background-image: url(images/fleche_rouge.png);
	background-repeat: no-repeat;
	
	margin-bottom: 3em;

	width: 100px;
	height: 55px;
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
}
